.grid-container {
    display: grid;
    grid-template-columns: 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem 5.125rem;
    background-color: darkblue; /* #0070DE; */
    padding: 0.625rem;
    width: 102.5rem;
}

.grid-item {
    background-color: #ABD473;
    border: 0.0625rem solid rgba(0, 0, 0, 0.8);
    font-size: 1.25rem;
    text-align: center;
    height: 5rem;
    width: 5rem;
    position: relative;
}

.player {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    cursor: grabbing;
}

.player--finn {
    background: #C79C6E;
    color: black;
}

.player--solveig {
    background: #F58CBA;
    color: black;
}

.player--rats {
    background: #3CE13F;
    color: black;
}

.player--pig {
    background: #FF3F40;
    color: white;
}

.player--red-four {
    background-color: red;
    border-radius: 50%;
}

.player--yellow-four {
    background-color: yellow;
    border-radius: 50%;
}

.grid-item--four {
    background-color: deepskyblue;
    border-radius: 50%;
    left: 10%;
    top: 10%;
    height: 80%;
    width: 80%;
    z-index: 1;
}

.grid-item--four > .player {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}